<!DOCTYPE html>
<head>
  <title>OCaml</title>
  <link rel="stylesheet" href="https://cdn.matdoes.dev/bootstrap.css">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
  <link rel="alternate" type="application/json+oembed" href="https://www.ocaml.tk/oembed">
  <style>
    @keyframes ocamlMove {
      from {background-position-x: 0%}
      to {background-position-x: 100%}
    }

    header {
      height: 249px;
      background: rgb(64, 64, 64) url(/ocaml.jpg) 0 top no-repeat;
      color: #ffffff;
      margin-bottom: 36px;
      text-align: center;
      animation: ocamlMove 60s linear infinite;
    }
    header h1 {
      top: 124px;
    }

  </style>
</head>
<body>
  <header><h1>OCaml</h1></header>
  <p>Ocaml is the superior language</p>
  
</body>